<!-- <header>{{headerProperty}}</header> -->
<main>
    <p class="score-section" *ngIf="showScore">You scored {{score}} out of {{questions.length}}</p>
    <div class="app" *ngIf="!showScore">
        <div class="question-section">
            <p class="question-count"><span>Question {{currentQuestion +1}}</span>/{{questions.length}}</p>
            <p class="question-text">{{ questions[currentQuestion].questionText }}</p>
        </div>
        <div class="answer-section">
            <button (click)="HandleAnswerButtonClick(opt)"
                *ngFor="let opt of questions[currentQuestion].answerOptions">{{opt.answerText}}</button>
        </div>
    </div>
</main>