<header>{{headerProperty}}</header>
<main>
    <p>Du har {{score}} poäng av {{questions.length}} möjliga</p>
    <div>
        <p>Fråga nummer {{currentQuestion +1}} av {{questions.length}}:</p>
        <p>{{ questions[0].questionText }}</p>
    </div>
    <div>
        <button (click)="test()">{{ questions[0].answerOptions[0].answerText }}</button>
        <button>{{ questions[0].answerOptions[1].answerText }}</button>
        <button>{{ questions[0].answerOptions[2].answerText }}</button>
        <button>{{ questions[0].answerOptions[3].answerText }}</button>
    </div>
</main>